Doc_de_travail/E-ditiones-0.1/resources/odd/E-Ditiones.odd

<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
         <titleStmt>
                <title>E-Ditiones 
                         <desc>ODD de la bibliothèque virtuelle du projet E-Ditiones.</desc>
                </title>
            </titleStmt>
         <publicationStmt>
            <publisher>eXistSolutions GmbH</publisher>
            <availability>
               <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU
                  General Public License</licence>
               <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
               </p>
               <p>This program is free software: you can redistribute it and/or modify it under the
                  terms of the GNU General Public License as published by the Free Software
                  Foundation, either version 3 of the License, or (at your option) any later
                  version.</p>
               <p>This program is distributed in the hope that it will be useful, but WITHOUT ANY
                  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
                  PARTICULAR PURPOSE. See the GNU General Public License for more details.</p>
            </availability>
         </publicationStmt>
         <sourceDesc>
            <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
            </p>
            <p>born digital</p>
         </sourceDesc>
      </fileDesc>
        <encodingDesc>
            <tagsDecl>
                <rendition source="../css/custom-theme-Editiones.css"/>
            </tagsDecl>
        </encodingDesc>
        <revisionDesc>
         <change when="2020-06-16+02:00">Initial version</change>
      </revisionDesc>
    </teiHeader>
    <text>
      <body>
         <schemaSpec start="TEI teiCorpus" ident="E-Ditiones" source="teipublisher.odd">
            <elementSpec ident="p" mode="change">
                    <model predicate="$parameters?mode='presentation'" behaviour="omit"/>
                    <model predicate="parent::history" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="l" mode="change">
                    <model behaviour="block" useSourceRendition="true">
            <outputRendition xml:space="preserve">
            
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="speaker" mode="change">
                    <model behaviour="block">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            font-style:italic;
font-weight: bold;
text-align: center;
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="div" mode="change">
                    <modelSequence predicate="$parameters?mode='presentation'">
            <model predicate="parent::div/parent::div" behaviour="inline" cssClass="tdm">
                <param name="head" value="head"/>
                <pb:template xmlns="" xml:space="preserve"><h3>[[head]]</h3></pb:template>
            </model>
            <model predicate="parent::div/parent::body" behaviour="inline" cssClass="tdm">
                <param name="head" value="head"/>
                <pb:template xmlns="" xml:space="preserve"><h2>[[head]]</h2></pb:template>
            </model>
            <model predicate="parent::body" behaviour="inline" cssClass="tdm">
                <param name="head" value="head"/>
                <pb:template xmlns="" xml:space="preserve"><h1>[[head]]</h1></pb:template>
            </model>
        </modelSequence>
                    <model predicate="@type=&#34;play&#34;" behaviour="inline">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            

            text-align: center;
margin-top: 100px;
margin-bottom: 100px;
margin-right: 150px;
margin-left: 80px;
            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                    <model predicate="@type='title_page'" behaviour="block">
            <outputRendition xml:space="preserve">
            border: 1px solid black; padding: 5px;
            </outputRendition>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="fw" mode="change">
                    <model behaviour="figure">
            <outputRendition xml:space="preserve">
            
            
            
            
            
            
            
            
            
            
            
            
            
            color: grey;
text-align: center;
font-size: medium;

            
            
            
            
            
            
            
            
            
            
            
            
            
            </outputRendition>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="pb" mode="change">
                    <modelSequence>
            <model predicate=".[contains(@facs, 'ark')]" behaviour="inline">
                <param name="url" value="replace(@facs, 'https(.*)ark(.*)(\.image|\.item)', 'http$1iiif/ark$2')"/>
                <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]" emit="transcription" subscribe="transcription"/></pb:template>
            </model>
            <model predicate=".[contains(@facs, 'github')]" behaviour="inline">
                <param name="url" value="@facs"/>
                <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]" emit="transcription" subscribe="transcription"/></pb:template>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <param name="url" value="@facs"/>
            <pb:template xmlns="" xml:space="preserve">                            <pb-facs-link facs="[[url]]" emit="transcription" subscribe="transcription"/></pb:template>
        </model>
                    <model behaviour="break" useSourceRendition="true"/>
                </elementSpec>
            <elementSpec ident="reg" mode="change">
                    <model predicate="parent::choice" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="text" mode="change">
                    <modelSequence predicate="$parameters?mode='facsimile'">
            <desc>Permet d'afficher le fac-similé. Il faut distinguer les images servies via IIIF et celles qui ne le sont pas.</desc>
            <model predicate=".[ends-with(@xml:id, '-1')]/body/p/pb[1]/@facs[contains(., 'ark')]" behaviour="inline">
                <pb:template xmlns="" xml:space="preserve"><pb-facsimile id="facsimile" type="iiif" show-navigator="show-navigator" subscribe="transcription" showNavigationControl="show-navigation-control" defaultZoomLevel="0"/></pb:template>
            </model>
            <model predicate=".[ends-with(@xml:id, '-1')]/body/p/pb[1]/@facs[contains(., 'github')]" behaviour="inline">
                <pb:template xmlns="" xml:space="preserve"><pb-facsimile id="facsimile" type="image" show-navigator="show-navigator" subscribe="transcription" showNavigationControl="show-navigation-control" defaultZoomLevel="0"/></pb:template>
            </model>
        </modelSequence>
                    <model predicate="@type=&#34;level-2&#34;" behaviour="inline">
            <param name="content" value="(//pb, .)"/>
        </model>
                </elementSpec>
            <elementSpec ident="teiHeader" mode="change">
                    <modelSequence predicate="$parameters?mode='apercu'">
            <model predicate="parent::TEI/text[1]/body/p/pb[1]/@facs[contains(., 'ark')]" behaviour="inline">
                <desc>Si l'image est affichée via un serveur IIIF (depuis Gallica par exemple).</desc>
                <param name="img" value="replace(parent::TEI/text[1]/body/p/pb[1]/@facs, 'https(.*)ark(.*)(\.image|\.item)', 'http$1iiif/ark$2')"/>
                <pb:template xmlns="" xml:space="preserve"><pb-facsimile id="facsimile" type="iiif" show-navigator="show-navigator" defaultZoomLevel="0"/>
<pb-facs-link facs="[[img]]"/></pb:template>
            </model>
            <model predicate="not(parent::TEI/text[1]/body/p/pb[1]/@facs[contains(., 'ark')])" behaviour="inline">
                <desc>Si l'image n'est pas servie via IIIF, modèle de type "image" (image stockée sur Github par exemple).</desc>
                <param name="img" value="replace(parent::TEI/text[1]/body/p/pb[1]/@facs, 'https(.*)ark(.*)(\.image|\.item)', 'http$1iiif/ark$2')"/>
                <pb:template xmlns="" xml:space="preserve"><pb-facsimile id="facsimile" type="image" show-navigator="show-navigator" defaultZoomLevel="50"/>
<pb-facs-link facs="[[img]]"/></pb:template>
            </model>
        </modelSequence>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate=".//msDesc" behaviour="inline" cssClass="metadata">
                <param name="maintitle" value=".//titleStmt/title[@type='main']"/>
                <param name="subtitle" value=".//titleStmt/title[@type='sub']"/>
                <param name="editor" value=".//titleStmt/editor"/>
                <param name="publisher_project" value=".//publicationStmt/publisher"/>
                <param name="ref" value=".//publicationStmt/ref"/>
                <param name="availability" value=".//publicationStmt/availability"/>
                <param name="msDesc" value=".//msDesc"/>
                <param name="File_link" value="replace(parent::TEI/@xml:id, '(EDI_[0-9]+)', 'https://github.com/e-ditiones/CORPUS17/blob/master/data/$1.xml')"/>
                <param name="Download_link" value="replace(parent::TEI/@xml:id, '(EDI_[0-9]+)', 'https://raw.githubusercontent.com/e-ditiones/CORPUS17/master/data/$1.xml')"/>
                <pb:template xmlns="" xml:space="preserve"><table class="table table-striped">
  <tr>
    <td>Titre principal</td>
    <td>[[maintitle]]</td>
  </tr>
  <tr>
    <td>Éditeur.rice scientifique</td>
    <td>[[editor]]</td>
  </tr>
  <br/>
  <tr>
    <td>Projet</td>
    <td>
      <a target="_blank" href="[[ref]]">
        [[publisher_project]]
      </a>
    </td>
  </tr>
  <tr>
    <td>Droits</td>
    <td>[[availability]]</td>
  </tr>
  <tr>
    <td>Accès sur Github</td>
    <td>
      <a target="_blank" href="[[File_link]]">
        [[File_link]]
      </a>
    </td>
  </tr>
  <tr>
    <td>Téléchargement</td>
    <td>
      <a href="https://raw.githubusercontent.com/e-ditiones/CORPUS17/master/data/EDI_0007.xml" target="_blank">Fichier au format XML</a>
      <br/>
      <small>Sauvegardez le fichier avec ctrl + S</small>
    </td>
  </tr>
[[msDesc]]
</table></pb:template>
            </model>
            <model predicate="not(.//msDesc)" behaviour="block" cssClass="metadata">
                <param name="maintitle" value=".//titleStmt/title[@type='main']"/>
                <param name="subtitle" value=".//titleStmt/title[@type='sub']"/>
                <param name="author" value=".//titleStmt/author"/>
                <param name="editor" value=".//titleStmt/editor"/>
                <param name="publisher_project" value=".//publicationStmt/publisher"/>
                <param name="ref" value=".//publicationStmt/ref"/>
                <param name="availability" value=".//publicationStmt/availability"/>
                <param name="words" value=".//extent/measure[@unit='words']"/>
                <param name="images" value=".//extent/measure[@unit='images']"/>
                <param name="publisher" value=".//sourceDesc/bibl/publisher"/>
                <param name="pubPlace" value=".//sourceDesc/bibl/pubPlace"/>
                <param name="date" value=".//sourceDesc/bibl/date"/>
                <param name="ref_FS" value=".//sourceDesc/bibl/ref"/>
                <param name="change" value=".//revisionDesc/change"/>
                <param name="IIIF" value="replace(.//sourceDesc/bibl/ref/@target, '(.*)ark(.*)', '$1iiif/ark$2/manifest.json')"/>
                <param name="File_link" value="replace(parent::TEI/@xml:id, '(EDI_[0-9]+)', 'https://github.com/e-ditiones/CORPUS17/blob/master/data/$1.xml')"/>
                <param name="Download_link" value="replace(parent::TEI/@xml:id, '(EDI_[0-9]+)', 'https://raw.githubusercontent.com/e-ditiones/CORPUS17/master/data/$1.xml')"/>
                <pb:template xmlns="" xml:space="preserve"><table class="table table-striped">
    <tr>
        <td>Titre principal</td>
        <td>[[maintitle]]</td>
    </tr>
    <tr>
        <td>Auteur.rice</td>
        <td>[[author]]</td>
    </tr>
    <tr>
        <td>Publié par</td>
        <td>[[publisher]]</td>
    </tr>
    <tr>
        <td>Publié à</td>
        <td>[[pubPlace]]</td>
    </tr>
    <tr>
        <td>Publié en</td>
        <td>[[date]]</td>
    </tr>
    <tr>
        <td>Projet</td>
        <td>
            <a target="_blank" href="[[ref]]">
                [[publisher_project]]
            </a>
        </td>
    </tr>
    <tr>
        <td>Éditeur.rice scientifique</td>
        <td>[[editor]]</td>
    </tr>
    <tr>
        <td>Droits</td>
        <td>[[availability]]</td>
    </tr>
    <tr>
        <td>Nombre de mots</td>
        <td>[[words]]</td>
    </tr>
    <tr>
        <td>Nombre d'images</td>
        <td>[[images]]</td>
    </tr>
    <tr>
        <td>Fac-similé</td>
        <td>[[ref_FS]]</td>
    </tr>
    <tr>
        <td>Manifeste IIIF</td>
        <td>
            <a target="_blank" href="[[IIIF]]">
                [[IIIF]]
            </a>
        </td>
    </tr>
    <tr>
        <td>Fichier XML</td>
        <td>
            <a target="_blank" href="[[File_link]]">
                [[File_link]]
            </a>
        </td>
    </tr>
    <tr>
        <td>Téléchargement</td>
        <td>
            <a href="https://raw.githubusercontent.com/e-ditiones/CORPUS17/master/data/EDI_0007.xml" target="_blank">Fichier au format XML</a>
          <br/>
            <small>Sauvegardez le fichier avec ctrl + S</small>
        </td>
    </tr>
    <tr>
        <td>Historique d'encodage</td>
        <td>[[change]]</td>
    </tr>
</table></pb:template>
                <outputRendition xml:space="preserve">
                class: table-dark
                </outputRendition>
            </model>
        </modelSequence>
                    <modelSequence output="web" predicate="$parameters?mode='presentation'">
            <model predicate="not(.//msDesc)" behaviour="inline" cssClass="presentation">
                <param name="title" value=".//titleStmt/title[@type='main']"/>
                <param name="author" value=".//titleStmt/author"/>
                <param name="publisher" value=".//sourceDesc//publisher"/>
                <param name="pubPlace" value=".//sourceDesc//pubPlace"/>
                <param name="date" value=".//sourceDesc//date"/>
                <pb:template xmlns="" xml:space="preserve"><p>[[title]] est une oeuvre de [[author]]. Cette édition a été publiée par [[publisher]] à [[pubPlace]] en [[date]].</p></pb:template>
            </model>
            <model predicate=".//msDesc and count(.//msPart) = 1" behaviour="inline">
                <param name="idno" value=".//msDesc/msIdentifier/idno"/>
                <param name="repository" value=".//msDesc/msIdentifier/repository"/>
                <param name="institution" value=".//msDesc/msIdentifier/institution"/>
                <param name="settlement" value=".//msDesc/msIdentifier/settlement"/>
                <param name="country" value=".//msDesc/msIdentifier/country"/>
                <param name="msPart" value=".//msPart"/>
                <pb:template xmlns="" xml:space="preserve"><p>Le manuscrit [[idno]] est conservé à [[repository]], [[institution]], [[settlement]], [[country]].</p>
<p>Il est composé de :
  <ul>
[[msPart]]
  </ul>
</p></pb:template>
            </model>
            <model predicate=".//msDesc and count(.//msPart) &gt; 1" behaviour="inline">
                <param name="idno" value=".//msDesc/msIdentifier/idno"/>
                <param name="repository" value=".//msDesc/msIdentifier/repository"/>
                <param name="institution" value=".//msDesc/msIdentifier/institution"/>
                <param name="settlement" value=".//msDesc/msIdentifier/settlement"/>
                <param name="country" value=".//msDesc/msIdentifier/country"/>
                <param name="number_msPart" value="count(.//msPart)"/>
                <param name="msPart" value=".//msPart"/>
                <pb:template xmlns="" xml:space="preserve"><p>Le manuscrit [[idno]] est conservé à [[repository]], [[institution]], [[settlement]], [[country]].</p>
<p>Il est composé de [[number_msPart]] parties :
  <ul>
[[msPart]]
  </ul>
</p></pb:template>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='title'" behaviour="inline" cssClass="titre-oeuvre">
            <param name="title" value="./fileDesc/titleStmt/title"/>
            <param name="date" value="./fileDesc/sourceDesc/bibl/date"/>
            <pb:template xmlns="" xml:space="preserve">[[title]] [[date]]</pb:template>
        </model>
                    <model output="web" predicate="$parameters?header='short'" behaviour="block"/>
                    <model output="web" behaviour="metadata"/>
                </elementSpec>
            <elementSpec ident="title" mode="change">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                    <model predicate="$parameters?mode='presentation' and @type='main'" behaviour="inline">
            <param name="content" value="."/>
            <pb:template xmlns="" xml:space="preserve"><i>[[content]]</i></pb:template>
        </model>
                    <modelSequence output="web" predicate="$parameters?mode='title'">
            <model output="web" predicate="@type='main'" behaviour="inline">
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
            </model>
        </modelSequence>
                    <model predicate="$parameters?header='short'" behaviour="heading">
            <param name="level" value="5"/>
        </model>
                    <modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="heading">
                <param name="level" value="3"/>
            </model>
            <model behaviour="heading">
                <param name="level" value="2"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence>
                    <modelSequence predicate="parent::titleStmt">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' publié par '"/>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
            <model behaviour="text">
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                </elementSpec>
            <elementSpec ident="titleStmt" mode="change">
                    <model predicate="$parameters?mode='metadata'" behaviour="block"/>
                    <model predicate="$parameters?mode='title'" behaviour="inline"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
            <elementSpec ident="editor" mode="change">
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="starts-with(@ref, 'orcid')" behaviour="link">
                <param name="content" value="."/>
                <param name="target" value="'_blank'"/>
                <param name="uri" value="replace(@ref, 'orcid:([0-9]+)', 'https://orcid.org/$1')"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
            </model>
            <model predicate="not [@ref]" behaviour="inline"/>
        </modelSequence>
                    <model predicate="ancestor::teiHeader" behaviour="omit"/>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="fileDesc" mode="change">
                    <model predicate="$parameters?mode='apercu'" behaviour="inline"/>
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="publicationStmt"/>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                    <model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model>
                </elementSpec>
            <elementSpec ident="author" mode="change">
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="parent::titleStmt and starts-with(@ref, 'isni')" behaviour="link">
                <param name="target" value="&#34;_blank&#34;"/>
                <param name="content" value="."/>
                <param name="uri" value="replace(@ref, 'isni:([0-9]+)', 'http://isni.org/isni/$1')"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]                  </pb:template>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
            <model predicate="parent::titleStmt and not(@ref)" behaviour="inline"/>
        </modelSequence>
                    <model predicate="ancestor::teiHeader" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content: 'By ';
            </outputRendition>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="extent" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="measure" mode="change">
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="@unit='images'" behaviour="inline">
                <param name="content" value="@quantity"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
            </model>
            <model predicate="@unit='words'" behaviour="inline">
                <param name="content" value="@quantity"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
                <outputRendition xml:space="preserve">
                
                </outputRendition>
            </model>
        </modelSequence>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="publicationStmt" mode="change">
                    <model predicate="$parameters?mode='apercu'" behaviour="inline"/>
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                    <model output="web" behaviour="block">
            <param name="content" value="availability/licence"/>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="publisher" mode="change">
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="parent::bibl and not(@ref)" behaviour="inline"/>
            <model predicate="parent::bibl and starts-with(@ref, 'isni')" behaviour="link">
                <param name="target" value="'_blank'"/>
                <param name="content" value="."/>
                <param name="uri" value="replace(@ref, 'isni:([0-9]+)', 'http://isni.org/isni/$1')"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]
                            </pb:template>
            </model>
            <model predicate="parent::publicationStmt" behaviour="inline">
                <pb:template xmlns="" xml:space="preserve">[[content]]                          </pb:template>
            </model>
        </modelSequence>
                    <model predicate="ancestor::teiHeader" behaviour="omit">
            <desc>Omit if located in teiHeader. </desc>
        </model>
                </elementSpec>
            <elementSpec ident="ref" mode="change">
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="parent::publicationStmt" behaviour="link">
                <param name="content" value="@target"/>
                <param name="uri" value="@target"/>
                <param name="target" value="&#34;_blank&#34;"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]                  </pb:template>
            </model>
            <model predicate="parent::bibl" behaviour="link">
                <param name="content" value="@target"/>
                <param name="uri" value="@target"/>
                <param name="target" value="&#34;_blank&#34;"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
            </model>
        </modelSequence>
                    <model predicate="not(@target)" behaviour="inline"/>
                    <model predicate="not(node())" behaviour="link">
            <param name="content" value="@target"/>
            <param name="uri" value="@target"/>
        </model>
                    <model behaviour="link">
            <param name="uri" value="@target"/>
        </model>
                </elementSpec>
            <elementSpec ident="availability" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="content" value="upper-case(@n)"/>
            <pb:template xmlns="" xml:space="preserve">[[content]]
                        </pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="licence" mode="change">
                    <model output="web" predicate="@target" behaviour="link" cssClass="licence">
            <param name="concent" value="'Licence'"/>
            <param name="uri" value="@target"/>
        </model>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model behaviour="inline">
                <param name="content" value="@target"/>
                <pb:template xmlns="" xml:space="preserve">
                                <li>Licence : [[content]]</li>
                            </pb:template>
            </model>
        </modelSequence>
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="bibl" mode="change">
                    <model predicate="$parameters?mode='title'" behaviour="inline"/>
                    <model predicate="$parameters?mode='apercu'" behaviour="inline">
            <param name="url" value="replace(./ref/@target, 'https(.*)ark(.*)', 'http$1iiif/ark$2/f10')"/>
            <pb:template xmlns="" xml:space="preserve"><pb-facs-link facs="[[url]]"/></pb:template>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="date"/>
        </model>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="ancestor::msDesc" behaviour="inline">
                <param name="ref" value="ref"/>
                <pb:template xmlns="" xml:space="preserve"><tr>
  <td>Ressources</td>
  <td>[[ref]]</td>
</tr></pb:template>
            </model>
            <model predicate="parent::sourceDesc" behaviour="inline"/>
        </modelSequence>
                    <model predicate="parent::listBibl" behaviour="listItem"/>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="sourceDesc" mode="add">
                    <model predicate="$parameters?mode='title'" behaviour="inline"/>
                    <model predicate="$parameters?mode='apercu'" behaviour="inline"/>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="date" value="./bibl/date"/>
            <param name="pubPlace" value="./bibl/pubPlace[1]"/>
            <pb:template xmlns="" xml:space="preserve">[[date]] [[pubPlace]]</pb:template>
        </model>
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="date" mode="change">
                    <model predicate="$parameters?mode='title'" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">- [[content]]</pb:template>
        </model>
                    <model predicate="$parameters?header='short'" behaviour="inline"/>
                    <model predicate="$parameters?mode='presentation'" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
        </model>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="parent::bibl" behaviour="inline">
                <pb:template xmlns="" xml:space="preserve">[[content]]
                            </pb:template>
            </model>
        </modelSequence>
                    <model output="print" predicate="text()" behaviour="inline"/>
                    <model output="print" predicate="@when and not(text())" behaviour="inline">
            <param name="content" value="@when"/>
        </model>
                    <model output="web" predicate="@when" behaviour="alternate">
            <param name="default" value="."/>
            <param name="alternate" value="@when"/>
        </model>
                    <model predicate="text()" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="pubPlace" mode="change">
                    <modelSequence predicate="$parameters?header='short' and ./text()">
            <model behaviour="inline">
                <pb:template xmlns="" xml:space="preserve">- [[content]]</pb:template>
            </model>
        </modelSequence>
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
        </model>
                    <model predicate="ancestor::teiHeader" behaviour="omit">
            <desc>Omit if located in teiHeader. </desc>
        </model>
                </elementSpec>
            <elementSpec ident="change" mode="add">
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model behaviour="inline">
                <param name="date" value="@when"/>
                <pb:template xmlns="" xml:space="preserve">[[date]] ([[content]])
</pb:template>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="revisionDesc" mode="change">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="change" value="change"/>
            <pb:template xmlns="" xml:space="preserve"><li>Historique d'encodage : 
  <ul>
  	<li>[[change]]</li>
  </ul>
</li></pb:template>
        </model>
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="body" mode="change">
                    <modelSequence predicate="$parameters?mode='presentation'">
            <model predicate="parent::text[@type=&#34;level-2&#34;]" behaviour="block" cssClass="tdm">
                <param name="div" value=".//div"/>
                <pb:template xmlns="" xml:space="preserve"><div>Table des matières :
[[div]]
</div></pb:template>
            </model>
        </modelSequence>
                    <modelSequence>
            <model behaviour="index">
                <param name="type" value="'toc'"/>
            </model>
            <model behaviour="block"/>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="front" mode="change">
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="country" mode="add"/>
            <elementSpec ident="msDesc" mode="add">
                    <model output="web" predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="msIdentifier" value="msIdentifier"/>
            <param name="msPart" value="msPart"/>
            <param name="head" value="head "/>
            <param name="msContent" value="msContent"/>
            <param name="physDesc" value="physDesc"/>
            <param name="history" value="history"/>
            <param name="additional" value="additional"/>
            <pb:template xmlns="" xml:space="preserve"><p>[[msIdentifier]]
  [[head]]
  [[msContent]]
  [[physDesc]]
  [[history]]
  [[additional]]
</p>
<p>[[msPart]]</p></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="msIdentifier" mode="add">
                    <model predicate="$parameters?mode='presentation'" behaviour="inline"/>
                    <model predicate="$parameters?mode='metadata' and parent::msDesc" behaviour="block">
            <param name="country" value="country"/>
            <param name="settlement" value="settlement"/>
            <param name="institution" value="institution"/>
            <param name="repository" value="repository"/>
            <param name="collection" value="collection"/>
            <param name="idno" value="idno"/>
            <pb:template xmlns="" xml:space="preserve"><tr>
  <td>Pays de conservation</td>
  <td>[[country]]</td>
</tr>
<tr>
  <td>Ville de conservation</td>
  <td>[[settlement]]</td>
</tr>
<tr>
  <td>Institution de conservation</td>
  <td>[[institution]]</td>
</tr>
<tr>
  <td>Dépôt de conservation</td>
  <td>[[repository]]</td>
</tr>
<tr>
  <td>Collection</td>
  <td>[[collection]]</td>
</tr>
<tr>
  <td>Identifiant</td>
  <td>[[idno]]</td>
</tr></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="profileDesc" mode="change">
                    <model behaviour="omit"/>
                </elementSpec>
            <elementSpec ident="idno" mode="add">
                    <model predicate="$parameters?mode='presentation'" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
        </model>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model predicate="@type" behaviour="inline">
                <param name="type" value="@type"/>
                <pb:template xmlns="" xml:space="preserve">[[content]] ([[type]])</pb:template>
            </model>
            <model predicate="not(@type)" behaviour="inline"/>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="physDesc" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="objectType" value=".//objectType"/>
            <param name="extent" value=".//extent"/>
            <param name="foliation" value=".//foliation"/>
            <param name="condition" value=".//condition"/>
            <param name="binding" value="binding"/>
            <pb:template xmlns="" xml:space="preserve"><tr>
  <td>Type de manuscrit</td>
  <td>[[objectType]]</td>
</tr>
<tr>
  <td>Nombre de pages</td>
  <td>[[extent]]</td>
</tr>
<tr>
  <td>Foliotation</td>
  <td>[[foliation]]</td>
</tr>
<tr>
  <td>État général</td>
  <td>[[condition]]</td></tr>
<tr>
  <td>Reliure</td>
  <td>[[binding]]</td>
</tr></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="objectType" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="rend" value="@rend"/>
            <pb:template xmlns="" xml:space="preserve">[[rend]]</pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="objectDesc" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="support" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="supportDesc" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="history" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline">
            <param name="p" value="p"/>
            <pb:template xmlns="" xml:space="preserve"><tr>
  <td>Historique</td>
  <td>[[p]]</td>
</tr></pb:template>
        </model>
                </elementSpec>
            <elementSpec ident="additional" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="listBibl" mode="change">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                    <model predicate="bibl" behaviour="list">
            <param name="content" value="bibl"/>
        </model>
                    <model behaviour="block"/>
                </elementSpec>
            <elementSpec ident="surrogates" mode="add">
                    <model predicate="$parameters?mode='metadata'" behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="msPart" mode="add">
                    <model predicate="$parameters?mode='presentation'" behaviour="inline">
            <param name="head" value="head"/>
            <param name="idno" value=".//idno"/>
            <param name="docDate" value=".//docDate"/>
            <pb:template xmlns="" xml:space="preserve"><li>[[idno]] - [[head]], en date du [[docDate]]</li></pb:template>
        </model>
                    <modelSequence predicate="$parameters?mode='metadata'">
            <model behaviour="inline">
                <param name="idno" value=".//idno"/>
                <param name="head" value=".//head"/>
                <param name="persName" value=".//persName"/>
                <param name="docDate" value=".//docDate"/>
                <param name="incipit" value=".//incipit"/>
                <param name="explicit" value=".//explicit"/>
                <param name="filiation" value=".//filiation"/>
                <pb:template xmlns="" xml:space="preserve"><table class="table table-secondary table-striped table-hover caption-top">
  <caption class="caption-top">Part composant le manuscript.</caption>
  <tr>
    <td>Identifiant</td>
    <td>[[idno]]</td>
  </tr>
  <tr>
    <td>Titre</td>
    <td>[[head]]</td>
  </tr>
  <tr>
    <td>Auteur</td>
    <td>[[persName]]</td>
  </tr>
  <tr>
    <td>Date</td>
    <td>[[docDate]]</td>
  </tr>
  <tr>
    <td>Incipit</td>
    <td>[[incipit]]</td>
  </tr>
  <tr>
    <td>Explicit</td>
    <td>[[explicit]]</td>
  </tr>
  <tr>
    <td>Filiation</td>
    <td>[[filiation]]</td>
  </tr>
  </table>
<hr/></pb:template>
            </model>
        </modelSequence>
                </elementSpec>
            <elementSpec ident="head" mode="change">
                    <model output="web" predicate="$parameters?mode='metadata' and parent::msDesc" behaviour="omit"/>
                    <modelSequence predicate="$parameters?mode='presentation'">
            <model predicate="not(ancestor::TEI//msDesc)" behaviour="inline" cssClass="tdm"/>
            <model predicate="ancestor::TEI//msDesc" behaviour="inline">
                <param name="content" value="replace(., '(.+)\.', '$1')"/>
                <pb:template xmlns="" xml:space="preserve">[[content]]</pb:template>
            </model>
        </modelSequence>
                    <model predicate="$parameters?header='short'" behaviour="inline">
            <param name="content" value="replace(string-join(.//text()[not(parent::ref)]), '^(.*?)[^\w]*$', '$1')"/>
        </model>
                    <model predicate="parent::figure" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::table" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::lg" behaviour="block">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model>
                    <model predicate="parent::list" behaviour="block">
            <outputRendition xml:space="preserve">
            font-weight: bold;
            </outputRendition>
        </model>
                    <model predicate="parent::div" behaviour="heading">
            <param name="level" value="count(ancestor::div)"/>
        </model>
                    <model behaviour="inline"/>
                </elementSpec>
            <elementSpec ident="TEI" mode="change">
                    <model behaviour="document"/>
                </elementSpec>
         <elementSpec ident="sp" mode="change">
                    <model behaviour="paragraph"/>
                </elementSpec>
            </schemaSpec>
      </body>
   </text>
</TEI>