Site/resources/odd/printers.odd

<?xml-model href="teipublisher_odds.xsd"?><TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:pb="http://teipublisher.com/1.0" xml:lang="en"><teiHeader><fileDesc>
            <titleStmt><title>Imprimeurs                                                            <desc>ODD de la base imprimeur.</desc></title></titleStmt>
            <publicationStmt>
                <publisher>eXistSolutions GmbH</publisher>
                <availability>
                    <licence target="https://www.gnu.org/licenses/gpl-3.0.en.html">Distributed under GNU General Public License</licence>
                    <p>Copyright 2017 <ref target="http://existsolutions.com">eXistSolutions GmbH</ref>
                    </p>
                    <p>This program is free software: you can redistribute it and/or modify
                        it under the terms of the GNU General Public License as published by
                        the Free Software Foundation, either version 3 of the License, or
                        (at your option) any later version.</p>
                    <p>This program is distributed in the hope that it will be useful,
                        but WITHOUT ANY WARRANTY; without even the implied warranty of
                        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
                        GNU General Public License for more details.</p>
                </availability>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
                <p>born digital</p>
            </sourceDesc>
        </fileDesc><encodingDesc><tagsDecl/></encodingDesc><revisionDesc>
            <change when="2022-03-30+02:00">Initial version</change>
        </revisionDesc></teiHeader><text>
        <body>
            <schemaSpec start="TEI teiCorpus" ident="Antonomaz - printers" source="teipublisher.odd"> 
            <elementSpec ident="title" mode="change"><model predicate="$parameters?mode='liste'" behaviour="inline">
            <param name="lien" value="ancestor::TEI/@corresp"/>
            <param name="id" value="substring-before(ancestor::TEI/@corresp, '_')"/>
            <pb:template xmlns="" xml:space="preserve"><a href="/exist/apps/Antonomaz/corpus/[[lien]]">[[content]]</a> <small>([[id]])</small></pb:template>
        </model><model predicate="$parameters?header='short'" behaviour="heading">
            <param name="surname" value="/surname/text()"/>
            <param name="forename" value="if (./forename/text()) then concat(',', ' ',//forename/text()) else ''"/>
            <pb:template xmlns="" xml:space="preserve"><h5>[[surname]]<small>[[forename]]</small></h5></pb:template>
        </model><modelSequence predicate="parent::titleStmt/parent::fileDesc">
            <model predicate="preceding-sibling::title" behaviour="text">
                <param name="content" value="' — '"/>
            </model>
            <model behaviour="inline"/>
        </modelSequence><model predicate="not(@level) and parent::bibl" behaviour="inline"/><modelSequence predicate="@level='m' or not(@level)">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="ancestor::biblFull" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='s' or @level='j'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (  ancestor::biblFull)" behaviour="text">
                <param name="content" value="', '"/>
            </model>
        </modelSequence><modelSequence predicate="@level='u' or @level='a'">
            <model behaviour="inline">
                <outputRendition xml:space="preserve">
                font-style: italic;
                </outputRendition>
            </model>
            <model predicate="following-sibling::* and     (    ancestor::biblFull)" behaviour="text">
                <param name="content" value="'. '"/>
            </model>
        </modelSequence><model behaviour="inline">
            <outputRendition xml:space="preserve">
            font-style: italic;
            </outputRendition>
        </model></elementSpec>
                <elementSpec ident="titleStmt" mode="change"><modelSequence output="web" predicate="$parameters?header='short'">
            <model behaviour="link">
                <param name="content" value="title[1]"/>
                <param name="uri" value="$parameters?doc"/>
            </model>
            <model behaviour="block">
                <param name="content" value="subsequence(title, 2)"/>
            </model>
            <model behaviour="block">
                <param name="content" value="author"/>
            </model>
        </modelSequence><model predicate="$parameters?mode='title'" behaviour="heading">
            <param name="content" value="title[not(@type)]"/>
            <param name="level" value="5"/>
        </model><model output="web" behaviour="block"/></elementSpec>
                <elementSpec ident="teiCorpus" mode="add"><model predicate="$parameters?header='short'" behaviour="link">
            <param name="content" value="./teiHeader"/>
        </model><model predicate="$parameters?mode='liste'" behaviour="block">
            <param name="documents" value=".//TEI/teiHeader"/>
            <pb:template xmlns="" xml:space="preserve"><h2>Liste des textes</h2>
<ul>
  [[documents]]
</ul></pb:template>
        </model></elementSpec>
                <elementSpec ident="teiHeader" mode="change"><model predicate="$parameters?mode='liste' and parent::TEI[@corresp=&#34;none&#34;]" behaviour="paragraph">
            <pb:template xmlns="" xml:space="preserve">Pas de texte consultable à ce jour.</pb:template>
        </model><model predicate="$parameters?mode='liste' and parent::TEI[@corresp!=&#34;none&#34;]" behaviour="listItem">
            <param name="titre" value=".//title[1]"/>
            <param name="auteur" value=".//author"/>
            <param name="repository" value=".//msIdentifier/repository"/>
            <pb:template xmlns="" xml:space="preserve"><div class="container">
  [[titre]] [[auteur]]
  <small>[[repository]]</small>
  <hr/>
</div></pb:template>
        </model><model predicate="$parameters?mode='bio' and parent::teiCorpus" behaviour="inline">
            <param name="nom_principal" value=".//profileDesc//listPerson/person/persName[@type=&#34;standard&#34;]"/>
            <param name="occupation" value=".//profileDesc//listPerson/person/occupation"/>
            <param name="sex" value=".//profileDesc//listPerson/person/sex"/>
            <param name="naissance" value=".//profileDesc//listPerson/person/birth"/>
            <param name="mort" value=".//profileDesc//listPerson/person/death"/>
            <param name="residence" value=".//profileDesc//listPerson/person/residence"/>
            <param name="nb_maz" value="count(parent::teiCorpus//TEI[@corresp!=&#34;none&#34;])"/>
            <param name="somme_page" value="fn:sum(parent::teiCorpus//TEI[@corresp]//measure[@unit=&#34;pages&#34;]/@quantity)"/>
            <param name="listBibl" value=".//sourceDesc/listBibl"/>
            <param name="bio" value=".//profileDesc//listPerson/person/listEvent"/>
            <pb:template xmlns="" xml:space="preserve"><div class="container">
  [[nom_principal]]
  [[occupation]]
  [[naissance]]
  [[mort]]
  [[sex]]
  <div>
  	[[residence]]
  </div>
  <div>
    [[bio]]
  </div>
  <div>
    <h3>Statistiques</h3>
   	<ul>
      <li>Nombre de textes publiés et accessibles en ligne : [[nb_maz]]</li>
      <li>Nombre total de pages : [[somme_page]]</li>
    </ul>
  </div>
  [[listBibl]]
</div></pb:template>
        </model><model output="web" predicate="$parameters?header='short' and parent::teiCorpus" behaviour="block">
            <param name="content" value="./fileDesc/titleStmt[1]"/>
        </model><model output="web" behaviour="metadata"/></elementSpec>
                <elementSpec ident="TEI" mode="change"/>
            <elementSpec ident="fileDesc" mode="change"><modelSequence predicate="$parameters?header='short'">
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="titleStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="editionStmt"/>
            </model>
            <model behaviour="block" cssClass="header-short">
                <param name="content" value="publicationStmt"/>
            </model>
        </modelSequence><model behaviour="title">
            <param name="content" value="titleStmt"/>
        </model></elementSpec>
                <elementSpec ident="undefined"/>
            <elementSpec ident="persName" mode="add"><model predicate="$parameters?header='short' and @type=&#34;standard&#34;" behaviour="link">
            <param name="content" value="text()"/>
            <param name="uri" value="$parameters?doc"/>
        </model><modelSequence predicate="$parameters?mode='bio'">
            <model predicate="@type=&#34;standard&#34;" behaviour="heading">
                <param name="level" value="1"/>
            </model>
        </modelSequence></elementSpec><elementSpec ident="birth" mode="add"><model predicate="$parameters?mode='bio' and @cert=&#34;high&#34;" behaviour="listItem">
            <param name="year" value="@when"/>
            <pb:template xmlns="" xml:space="preserve">Naissance : [[year]]</pb:template>
        </model></elementSpec><elementSpec ident="death" mode="add"><model predicate="$parameters?mode='bio' and @cert=&#34;high&#34;" behaviour="listItem">
            <param name="year" value="@when"/>
            <pb:template xmlns="" xml:space="preserve">Mort : [[year]]</pb:template>
        </model></elementSpec><elementSpec ident="occupation" mode="add"><model predicate="$parameters?mode='bio'" behaviour="heading">
            <param name="level" value="3"/>
        </model></elementSpec><elementSpec ident="sex" mode="add"><model predicate="$parameters?mode='bio'" behaviour="listItem">
            <param name="sexe" value="if (text()=&#34;M&#34;) then &#34;Masculin&#34; else if (text()=&#34;F&#34;) then &#34;Féminin&#34; else &#34;Inconnu&#34;"/>
            <pb:template xmlns="" xml:space="preserve">Genre : [[sexe]]</pb:template>
        </model></elementSpec><elementSpec ident="residence" mode="add"><model predicate="$parameters?mode='bio'" behaviour="block">
            <param name="enseigne" value="address/objectName"/>
            <param name="rue" value="address/street"/>
            <param name="ville" value="address/settlement"/>
            <pb:template xmlns="" xml:space="preserve"><h3>Adresse</h3>
<ul>
	[[enseigne]]
	[[rue]]
	[[ville]]
</ul></pb:template>
        </model></elementSpec><elementSpec ident="objectName" mode="add"><model predicate="$parameters?mode='bio' and text()" behaviour="listItem">
            <pb:template xmlns="" xml:space="preserve">Enseigne : [[content]]</pb:template>
        </model></elementSpec><elementSpec ident="settlement" mode="add"><model predicate="$parameters?mode='bio' and parent::address and text()" behaviour="listItem">
            <pb:template xmlns="" xml:space="preserve">Ville : [[content]]</pb:template>
        </model></elementSpec><elementSpec ident="street" mode="add"><model predicate="$parameters?mode='bio' and text()" behaviour="listItem">
            <pb:template xmlns="" xml:space="preserve">Rue/Lieu : [[content]]</pb:template>
        </model></elementSpec><elementSpec ident="listBibl" mode="change"><model predicate="bibl[@source=&#34;none&#34;]" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><h3>Sources</h3>
<p>À compléter</p></pb:template>
        </model><model predicate="bibl[@source!=&#34;none&#34;]" behaviour="inline">
            <param name="content" value="bibl[@source!=&#34;none&#34;]"/>
            <pb:template xmlns="" xml:space="preserve"><h3>Sources</h3>
<ul>
	[[content]]
</ul></pb:template>
        </model><model behaviour="block"/></elementSpec><elementSpec ident="bibl" mode="change"><model predicate="parent::listBibl and ./@source!=&#34;none&#34;" behaviour="listItem">
            <param name="content" value="@source"/>
            <pb:template xmlns="" xml:space="preserve"><a href="[[content]]">[[content]]</a></pb:template>
        </model><model behaviour="inline"/></elementSpec><elementSpec ident="author" mode="change"><model predicate="$parameters?mode='liste' and not(text())" behaviour="omit"/><model predicate="$parameters?mode='liste' and text()" behaviour="inline">
            <pb:template xmlns="" xml:space="preserve"><p>Auteur : [[content]]</p></pb:template>
            <outputRendition xml:space="preserve">
            text-color: #596C75;
            </outputRendition>
        </model><model predicate="ancestor::teiHeader" behaviour="block">
            <outputRendition xml:space="preserve" scope="before">
            content: 'By ';
            </outputRendition>
        </model><model behaviour="inline"/></elementSpec><elementSpec ident="repository" mode="add"><model predicate="$parameters?mode='liste'" behaviour="paragraph">
            <pb:template xmlns="" xml:space="preserve">Lieu de conservation : [[content]]</pb:template>
        </model></elementSpec><elementSpec ident="event" mode="add"><model predicate="$parameters?mode='bio'" behaviour="listItem">
            <outputRendition xml:space="preserve">
            text-align: justify
            </outputRendition>
        </model></elementSpec><elementSpec ident="listEvent" mode="add"><model predicate="$parameters?mode='bio'" behaviour="inline">
            <param name="event" value="event"/>
            <pb:template xmlns="" xml:space="preserve"><h3>Informations biographiques</h3>
<ul>
  [[event]]
</ul></pb:template>
        </model></elementSpec><elementSpec ident="surname" mode="add"><model predicate="$parameters?header='short' and parent::title[@type='standard']" behaviour="inline"/></elementSpec></schemaSpec>
        </body>
    </text></TEI>